<div class="thumbnail">
  <%= image_tag @ad.picture.url(:large), class: "img-responsive" %>
  <div class="caption-full">

    <h4 class="pull-right"><%= humanized_money_with_symbol @ad.price %></h4>
    <h4><%= @ad.title %>
    </h4>
    <p>
      <%= (@ad.description).html_safe %>
    </p>
  </div>
  <div class="ratings">
    <p class="pull-right"><%= @ad.rates("quality").count %> Review(s)</p>
    <p><%= rating_for @ad, 'quality' %></p>
  </div>
</div>

<div class="well">
  <div class="text-right">
    <% if member_signed_in? %>  
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">
      Leave a Review
    </button>

    <% else %>
    <%= link_to "Log in to leave a Review", new_member_session_path, class: "btn btn-info" %>
    <% end %>
  </div>
  <%= render partial: "site/ad_details/comments" %>

</div>


<%= render partial: "site/ad_details/comment_modal" %>